.container {
    margin: 20px;
    margin-top: 40px;
}

.title {
    color: bisque;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.join-button {
    width: 300px;
}

.text-helper {
    color: bisque;
    padding-top: 10px;
}

.main-button-section {
    display: flex;
    padding-bottom: 30px;
}

.spacer {
    flex-grow: 1;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row; /* Arrange table and stats horizontally */
}

.table-content {
    min-width: 55%;
}

.header-row {
    color: bisque;
}

.row:hover {
    cursor: pointer;
    background-color: #494545;
}

.add-days-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

.add-day-worked-button{
    width: 47%;
}

.add-day-paid-button {
    width: 47%;
}

.stats-content {
    min-width: 35%;
}

.stats-card {
    margin-left: 40px;
}