<div class="container">
  <p class="title" *ngIf="team">{{ team.name }}</p>
  <div class="join-button-section" *ngIf="canJoin()">
    <button class="join-button" mat-raised-button color="primary"(click)="createRequest()">
      Join the team
    </button>
    <p class="text-helper">Your request can be accepted by the leader of the team.</p>
  </div>

  <div class="main-button-section" *ngIf="isTeamMember() || canDisband()">
    <div class="requests-button-section" *ngIf="isTeamMember()">
      <button class="requests-button" mat-raised-button color="accent" [routerLink]="['requests']">
        Requests for joining
      </button>
    </div>
    <div class="spacer"></div>
    <div class="disband-button-section" *ngIf="canDisband()">
      <button class="disband-button" mat-raised-button color="warn" (click)="disband()">
        Disband
      </button>
    </div>
    <div class="requests-button-section" *ngIf="canLeave()">
      <button class="leave-button" mat-raised-button color="warn" (click)="leave()">
        Leave
      </button>
    </div>
  </div>

  <div class="content">

    <div class="table-content">

      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()"
                          *ngIf="canAddDays()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          *ngIf="canAddDays()">
            </mat-checkbox>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>
      
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First name </th>
          <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last name </th>
            <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
            <td mat-cell *matCellDef="let user">
              <div *ngIf="isTeamMember()">
                {{user.salary.toLocaleString('en-US')}} &#8372;
              </div>
              <div *ngIf="!isTeamMember()" class="blurred">
                9,999
              </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="debt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Debt </th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="isTeamMember()">
              {{user.debt.toLocaleString('en-US')}} &#8372;
            </div>
            <div *ngIf="!isTeamMember()" class="blurred">
              9,999
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="isLeader">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <mat-icon *ngIf="user.isLeader">star</mat-icon>
          </td>
        </ng-container>
      
        <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToUserProfile(row.id)"></tr>

      </table>

      <div class="add-days-container" *ngIf="!selection.isEmpty()">
        <button class="add-day-worked-button" mat-raised-button color="primary" (click)="addDayWorked()">
          Add day worked for selected users
        </button>
        <div class="spacer"></div>
        <button class="add-day-paid-button" mat-raised-button color="primary" (click)="addDayPaid()">
          Add day paid for selected users
        </button>
      </div>

    </div>

    <div class="spacer"></div>

    <div class="stats-content" *ngIf="isTeamMember()">
      <div class="stats-card">
        <app-team-stats></app-team-stats>
      </div>
    </div>
  </div>
</div>