<mat-toolbar>

    <a routerLink="/">Home</a>
    <span class="secondary-spacer"></span>
    <a routerLink="/teams">Teams</a>
    <span class="secondary-spacer"></span>
    <a routerLink="/users">Users</a>

    <!-- Log in and Register links on the right -->
    <span class="main-spacer"></span>
    
    <div *ngIf="!userIsAuthenticated()">
        <a routerLink="/login">Log in</a>
        <span class="secondary-spacer"></span>
        <a routerLink="/register">Register</a>
    </div>
    <app-logout *ngIf="userIsAuthenticated()"></app-logout>

</mat-toolbar>
