.container {
    margin: 20px;
    width: 50%;
}

.mat-column-id {
    width: 5%;
}
// .mat-column-username {
//     width: 30%;
// }
// .mat-column-firstName {
//     width: 25%;
// }
// .mat-column-lastName {
//     width: 25%;
// }
// .mat-column-email {
//     width: 20%;
// }