.layout {
    margin-top: 40px;
}

.container {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Distribute items evenly */
    margin: 20px;
}

.stats-container {
    width: 60%; /* Set width for each item */
}

.credentials-container {
    width: 30%;
}

.title {
    color: bisque;
    font-size: 40px;
    text-align: center;
}

.save-button {
    width: 300px;
}
mat-form-field {
    width: 300px;
}