.layout {
    margin-top: 40px;
}

.container {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
    margin: 20px;
    margin-top: 70px;
}

.stats-container {
    width: 60%; /* Set width for each item */
}

.credentials-container {
    width: 30%;
}

.salary-container {
    width: 60%;
    padding-top: 50px;
}

.title {
    color: bisque;
    font-size: 40px;
    text-align: center;
}

.save-button {
    width: 300px;
}

.update-salary-button {
    width: 300px;
    margin-left: 50px;
}

mat-form-field {
    width: 300px;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}

th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.debt-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
  
.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;

}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

mat-card-title {
    color: bisque;
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 18px;
}

.info-label {
    font-weight: bold;
}

.info-value {
    flex: 1;
    margin-left: 10px;
}