<div class="container">
    <div class="teams-table">
        <table>
            <caption>List of teams</caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Number of members</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams">
                    <td>{{ team.name }}</td>
                    <td>{{ team.numberOfMembers }}</td>
                </tr>
                </tbody>
        </table>
    </div>
    <div class="team-form">
        <app-team-form></app-team-form>
    </div>
</div>
