<div class="container">
    <div class="teams-table">
        <table mat-table [dataSource]="teams" class="mat-elevation-z8">
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let team"> {{team.name}} </td>
            </ng-container>

            <!-- Leader Column -->
            <ng-container matColumnDef="leader">
              <th mat-header-cell *matHeaderCellDef> Leader </th>
              <td mat-cell *matCellDef="let team"> {{team.leader}} </td>
            </ng-container>
          
            <!-- Number of members Column -->
            <ng-container matColumnDef="numberOfMembers">
              <th mat-header-cell *matHeaderCellDef> Members </th>
              <td mat-cell *matCellDef="let team"> {{team.numberOfMembers}} </td>
            </ng-container>
          
            <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['../team-profile', row.id]"></tr>
        </table>
    </div>
    <div class="team-form">
        <app-team-form (onCreate)="loadTeams()"></app-team-form>
    </div>
</div>

