<div class="container">
    <p class="title" *ngIf="team">Requests for {{team.name}}</p>
    <div class="requests-table">

        <div class="filter-group">
            <mat-radio-group [(ngModel)]="selectedFilterOption" (change)="applyFilter()">
              <mat-radio-button value="all">All</mat-radio-button>
              <mat-radio-button value="pending">Pending</mat-radio-button>
              <mat-radio-button value="accepted">Accepted</mat-radio-button>
              <mat-radio-button value="declined">Declined</mat-radio-button>
            </mat-radio-group>
        </div>

        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let request"> {{request.username}} </td>
            </ng-container>
          
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let request"> {{datePipe.transform(request.date, 'medium')}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let request"> {{request.status}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let request">
                    <div *ngIf="request.status == 'Pending'">
                        <a (click)="accept(request.id)" class="accept-link">Accept</a>
                        / 
                        <a (click)="decline(request.id)" class="decline-link">Decline</a>
                    </div>
                </td>
            </ng-container>
          
            <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">There are no {{selectedFilterOption}} users</td>
            </tr>

        </table>
        <mat-paginator [pageSizeOptions]="[3, 5, 10]"
                    showFirstLastButtons
                    aria-label="Select page of requests">
        </mat-paginator>
    </div>
</div>
